#sayfa
{
  width:768px;
}

#ustAlan
{
  width: 768px;
}

#icerik
{
    float: right;
    width: 568px;
}

#anaMenu
{
    float: left;
    width: 200px;
}

#altAlan
{
    width: 768px;
    clear: both;
}
#sayfa{
    width: 768px;
    margin:0 auto;
}